<!--Iniciando o arquivo CSHTML-->

<!--Logo abaixo um exemplo de bloco de código C# inserido no arquivo -->
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="~/CSS/style.css">
    <title>..::Mercado SENAI::..</title>
</head>
<body>
    <div>
        <h1>Bem vindo ao Mercado SENAI</h1>
        <p><a href="~/Site/Cad_Produto.cshtml">Cadastrar novo produto</a></p>
        <p><a href="~/Site/Listar_Produtos.cshtml">Listar todos os Produtos</a></p>
        <p><a href="~/Site/Buscar_Produto.cshtml">Buscar produto por nome</a></p>
        <p>By Maurício Cerqueira</p>
    </div>
</body>
</html>